// .bg-opacity-7{
//   background: rgba(0,0,0,.7);
//   // background: none;
//   z-index:1000;
// }


// 1 - 服務簡介
.home_section_1{
  flex-wrap: wrap;
  .col{
    border-radius: 0;
    .my-card{
      box-shadow: none;
      background: none;
      width: 200px;
      img{
        width: 60%;
      }
      .card-text{
        padding: 0 40px;
      }
    }
  }
}

// 2 - 品牌介紹
.home_section_2{
  background: #BFB4AA;
  margin:auto;
  .q-card{
    text-align: center;
    background: none;
    box-shadow: none;
    border: none;
    padding: 30px 0 ;
    img{
      width: 250px;
    }
  }
  @media (min-width:1024px) {
    position: relative;
    height: 300px;
    margin-bottom: 100px;
    .q-card{
      margin: auto;
      width: 100%;
      padding: 0;
      text-align: left;
      img{
        position: relative;
        top: 30px;
        margin-right: 30px;
      }
    }
  }
}

// 3 - 活動報名
.home_section_3{
  display: none;
  @media (min-width:768px) {
  display: block;
  padding: 20px 10px;
  q-card{
    width: 500px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    color: #636363;
  }
  // .q-item--dense {
  //   padding: 0;
  // }
  // .q-item{
  //   padding: 0;
  // }
  }
}

.phone_carousel{
  padding: 50px 10px;
  .swiper-button-prev,
  .swiper-button-next {
    color: #636363;
  }
  @media (min-width:768px) {
    display: none;
  }
}

// 4 - 照片展示區
.home_section_4{
  padding: 80px 10px 50px 10px;
  .col-1{
    width: 100%;
    .q-img{
      width: 100%;
      margin: 1% 0;
      .mask{
        background: rgba(0,0,0,.5);
        width: 100%;
        height: 100%;
        display: none;
        font-size: 1.5rem;
        color: $accent;
      }
      &:hover{
        .mask{
          display: flex;
        }
      }
    }
  }
  .photo_box {
    padding: 5px 10px;
  }
  @media (min-width:1024px) {
    margin: auto;
    flex-direction: row;
    .col-1{
      width: calc(100% / 3);
    }
  }
}