// burger側邊欄
.sidebar{
  @media (min-width:990px) {
    &{
      display: none;
    }
  }
  .q-item{
    border-radius: 3px;
    box-shadow: 1px 1px 3px $dark;
  }
  .sidebar2{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .q-icon{
      color: $accent;
    }
  }
  // .sidebar{
  //   z-index: 1000;
  //   height: 100vh;
  //   display: flex;
  //   .title{
  //     font-size: 14px;
  //     font-weight: 500;
  //   }
  //   .q-btn{
  //     font-weight: 400;
  //     width: 100%;
  //   }
  // }
}

// MainLayout
.topbar {
  height: 54px;
  display: flex;
  .topbar_logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    @media (min-width:992px) {
    left: 10%;
    }
  }
  .burger{
    position: relative;
    left: 0;
    @media (min-width:990px) {
      &{
        display: none;
      }
    }
  }
  .topbar_label {
    display: none;
    .q-tab__label{
      font-size: 1rem;
      letter-spacing: 1px;
      font-weight: 400;
    }
    @media (min-width:992px) {
      &{
        display: block;
      }
    }
  }
  .user_name{
    display: none;
    @media (min-width:992px) {
      &{
        display: block;
      }
    }
  }
  .user_noname{
    display: blcok;
    @media (min-width:992px) {
      &{
        display: none;
      }
    }
  }
}

// admin-layout
.admin-sidebar {
  .q-item.q-router-link--active{
  background: #E1BF77;
  }
}

// account-layout
.item_bar{
  float: left;
  width: 250px;
  position: relative;
  top: 50px;
}

.account-sidebar {
  .q-item.q-router-link--active{
    background: $light;
    }
}